.footer {
  background-color: #232f3e;
  color: white;
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  line-height: 35px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 14px;
}
